<center>
<%= wicked_pdf_image_tag 'lib.jpg' %>

<table>
<tr>
<p>
  <td>Name: </td><td><%= @student.name %></td>
</p>
</tr>
<tr>
<p>
  <td>Rollno: </td> <td> <%= @student.rollno %></td>
</p>
</tr>
<tr>
<p>
  <td> Email: </td> <td> <%= @student.email %></td>
</p>
</tr>
<tr>
<p>
  <td>Phoneno:</td><td> <%= @student.phoneno %></td>
</p>
</tr>

</table>
</center>