<!DOCTYPE html>
<html>
  <head>
    <title>DeviceDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if admin_signed_in? %>
    <% if current_page?('/admin_steps/personal') || current_page?('/admin_steps/general') %>
    <% else %>
  	  <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
      <%end%>
  <%end%>
    <%= yield %>
  </body>
</html>
